/debian/flexibee-contract-invoices/
/debian/flexibee-contract-invoices.debhelper.log
/debian/flexibee-contract-invoices.substvars
/debian/files
/debian/.debhelper/
/vendor/spoje.net/flexibee/nbproject/private/