/debian/abraflexi-contract-invoices/
/debian/abraflexi-contract-invoices.debhelper.log
/debian/abraflexi-contract-invoices.substvars
/debian/files
/debian/.debhelper/
/vendor/spoje.net/abraflexi/nbproject/private/
/debian/debhelper-build-stamp
/vendor/
