Source: abraflexi-contract-invoices
Build-Depends: debhelper (>= 7.0.50~), jq, moreutils 
Standards-Version: 4.2.3
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/abraflexi-contract-invoices

Package: abraflexi-contract-invoices
Depends: ${misc:Depends},  php-spojenet-abraflexi, php-cli
Suggests: abraflexi-server, php-abraflexi-config, multiflexi
Architecture: all
Section: office
Priority: optional
Description: Trigger AbraFlexi contracts to invoice generator
 Commandline tool used to start generating invoices in AbraFlexi based on contracts

Package: multiflexi-abraflexi-contract-invoices
Depends: abraflexi-contract-invoices, multiflexi
Architecture: all
Section: office
Priority: optional
Description: Add AbraFlexi contracts to invoice generator to MultiFlexi
 Easy way how to generate your invoices every day

