#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//' `'"'  debian/conf/composer.json |sponge debian/conf/composer.json
	dh_install
	sed -i -e 's/..\/vendor/\/var\/lib\/composer\/abraflexi-contract-invoices/g' 	debian/abraflexi-contract-invoices/usr/lib/abraflexi-contract-invoices/*.php
	sed -i -e 's/..\/.env//'                                  debian/abraflexi-contract-invoices/usr/lib/abraflexi-contract-invoices/*.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/contract_to_invoices.multiflexi.app.json | sponge debian/multiflexi-abraflexi-contract-invoices/usr/lib/abraflexi-contract-invoices/multiflexi/contract_to_invoices.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/contract_to_liabilities.multiflexi.app.json | sponge debian/multiflexi-abraflexi-contract-invoices/usr/lib/abraflexi-contract-invoices/multiflexi/contract_to_liabilities.multiflexi.app.json

